<div class="container">

    <div class="row">
        <div class="col-md-12">
                <h2>localeID = {{locale}}</h2>
                <hr>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                    <h2>Date</h2>
                    <h3>{{today | date }}</h3>
                    <mat-form-field>
                        <input matInput [matDatepicker]="dp" [(ngModel)]="today"> 
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp></mat-datepicker>
                    </mat-form-field>
                    <hr>
            </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <h2>Currency</h2>
                <h3>{{ money | currency }}</h3>
                <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn" (click)="setToUS()" [ngClass]="{ 'btn-primary': locale == 'en-US' }">US</button> 
            <button type="button" class="btn" (click)="setToAU()" [ngClass]="{ 'btn-primary': locale == 'en-AU' }">AU</button> 
            <button type="button" class="btn" (click)="setToUk()" [ngClass]="{ 'btn-primary': locale == 'en-GB' }">UK</button> 
            <button type="button" class="btn" (click)="setToFr()" [ngClass]="{ 'btn-primary': locale == 'fr' }">FR</button>
            <button type="button" class="btn" (click)="setToJP()" [ngClass]="{ 'btn-primary': locale == 'ja-JP' }">JP</button> 
        </div>
    </div>
</div>


<hr>

<!--

-->
<!-- <h1>{{ money | currency }}</h1> -->


